/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */

/*HEADER START*/
header {
	background-color: #fff;
	text-align: center;
}

header h1 {
	font-family: Helvetica, cursive;
	background-color: #f00;
	color: #fff;
	width: 150px;
	height: 100%;
	transform: rotateZ(-90deg);
	float: left;
}

header h2 {
	font-family: Helvetica, cursive;
	clear: both;
	color: #000;
	width: 600px;
	margin: auto;
	font-size: 40px;
	position: relative;
	top: -50px;
}
/*HEADER END*/

.summary {
	font-family: Helvetica, cursive;
	text-align: center;
	color: #fff;
	width: 500px;
	margin: 20px auto 0 auto;
	border: 1px solid;
}

.summary p:first-child {
	font-style: italic;
}

.summary p:last-child {
	font-style: bold;
	font-size: 18px;
}

.preamble {
	background-color: #fff;
	border: 1px solid;
	margin: 20px auto 0 auto;
	width: 1100px;
	color: #000;
}

.preamble p {

}

/*.main.supporting {
	background-color: #825;
}*/

/*THREE COLUMN FLOAT START*/
.main.supporting .explanation{
	float: left;
	background-color: #fff;
	border: 1px solid;
	margin: 20px 0 0 235px;
	height: 400px;
	width: 350px;
	position: relative;
	overflow: auto;
}

.main.supporting .participation{
	float: left;
	background-color: #fff;
	border: 1px solid;
	margin: 20px 0 0 22px;
	height: 400px;
	width: 350px;
	position: relative;
	overflow: auto;
}

.main.supporting .benefits {
	float: left;
	background-color: #fff;
	border: 1px solid;
	margin: 20px 0 0 22px;
	height: 400px;
	width: 350px;
	position: relative;
	overflow: auto;

}
/*THREE COLUMN FLOAT END*/

.main.supporting .requirements {
	clear: both;
	background-color: #fff;
	border: 1px solid;
	margin: 20px auto 0 auto;
	width: 1100px;
	position: relative;
	top: 20px;
}

footer {
	background-color: #fff;
	margin-top: 20px;
	position: relative;
	text-align: center;
	width: 100%;
	padding: 10px 10px 10px 10px;
	top: 20px;
}

.design-selection {
	float: left;
	width: 350px;
	height: 300px;
	margin-left: 235px;
	position: relative;
}

.design-selection nav ul{
	list-style-type: none;
}

.design-archives {
	float: left;
	width: 350px;
	height: 300px;
	margin-left: 610px;
	position: absolute;
}

.design-archives nav ul{
	list-style-type: none;
}

h3.archives, h3.resources, h3.select {
	color: #fff;
}

.zen-resources {
	width: 350px;
	height: 300px;
	margin-left: 985px;
	position: relative;
	top: 25px;
}

.zen-resources ul{
	list-style-type: none;
}

h3 {
	text-align: center;
	text-decoration: underline;
	font-size: 25px;
}

p {
	font-family: Helvetica, sans-serif;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0 20px 0 20px;
}

ul{
	padding: 5px 5px 5px 5px;
	text-align: center;
}

ul li a {
	font-size: 20px;
	text-align: left;
	color: #fff;
}

ul li a:hover {
	color: #f00;
	font-style: italic;
}

ul li:hover {
	background-color: #fff;
}

body {
	background: url('images/dark-triangles.png') center;
}